

 <div *ngIf="showError" class="alert alert-danger">
  <strong>Danger!</strong> Credentiel invalid.
</div>

<form  [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
  
  
 

  <div class="form-group">
    <label for="signin_login">Login
    </label>
    <div class="input-group">
      <input formControlName="login"  type="email" 
        class="is-valid form-control rounded-left ng-pristine ng-valid ng-touched"
        [ngClass]="{ 'is-invalid': submitted && f['login'].errors }">
      <div class="input-group-append">
        <span class="input-group-text">
          <span class="fa fa-at">
          </span>
        </span>
      </div>


      <div *ngIf="submitted && f['login'].errors" class="invalid-feedback">
            <div *ngIf="f['login'].errors['required']">Email is required</div>
            <div *ngIf="f['login'].errors['login']">Email is invalid</div>
          </div>
      <!---->
    </div>
  </div>
  <!---->


  <div class="form-group">
    <label for="signin_passe">Passe
    </label>
    <div class="input-group">
      <input id="signin_passe" title="Passe" type="password" formControlName="passe" 
        class="is-valid form-control rounded-left ng-untouched ng-pristine ng-valid"
        [ngClass]="{ 'is-invalid': submitted && f['passe'].errors }">
      <div class="input-group-append">
        <span class="input-group-text">
          <span class="fa fa-lock">
          </span>
        </span>
      </div>
      <div *ngIf="f['passe'].errors" class="invalid-feedback">
        <div *ngIf="f['passe'].errors['required']">Password is required</div>
        <div *ngIf="f['passe'].errors['minlength']">
          Password must be at least 4 characters
        </div>
      </div>

      <!---->
    </div>
  </div>
  <!---->

  <button type="submit" [disabled]="userForm.invalid" class="btn btn-secondary"> connexion
  </button>
</form>